/* CSS reset */

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}

body 
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('https://cdn.discordapp.com/attachments/689386353175035940/787992410370211880/hatter.jpg') no-repeat center fixed;
    background-size: cover;
}

#profile-card 
{
    width: 480px;
    max-width: calc(100vw - 10px);
    background-color: hsla(0, 0%, 100%, .5);
    border-radius: 4px;
    box-shadow: hsla(0, 0%, 0%, .8) 10px 10px 80px;
}


#head, #links 
{
    text-align: center;
}

#head, #content 
{
    width: 90%;
    margin: 0 auto;
}

img 
{
    width: 150px;
    height: 150px;
}

img:hover 
{
    transform: scale(1.1);
    filter: grayscale(20%);
}

#profile-image 
{
    margin-top: -60px;
}

/* Contact links */

li.egy 
{
    display: inline;
}

#head 
{
    margin-bottom: 5%;
}

#content 
{
    padding: 5% 10%;
    border-top: 1px solid hsla(0, 0%, 30%, .8);
}
